NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
DATABASE_URL=

VERCEL_TOKEN=
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=

PASSWORD_MASTER_DB_PASSWORD=

TYPESAFE_API_KEY=
OPENAI_API_KEY=
AI_GETWAY_API_KEY=